<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/research">Research</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:hylim1988@gmail.com">email</a></li>
   <li><a href="https://github.com/hlim88">github.com/hlim88</a></li>
   </ul>
  </footer>
  </body>

</html>
